<!DOCTYPE html>
<html>
  <head>
    <title>sun</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="sun"></div>

      <div class="panel">
        <div class="disable-btn">Вкл/викл</div>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
