<!DOCTYPE html>
<html>
  <head>
    <title>sun</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="sun pos2"></div>

      <div class="panel">
        <div class="disable-btn">Вкл/викл</div>
        <div class="move">
          <div class="arrow arrow1"><img src="/images/211686_back_arrow_icon.svg"></div>
          <div class="arrow arrow2"><img src="/images/211686_back_arrow_icon.svg"></div>
        </div>
      </div>
      <div class="houses">
        <div class="images img1">
          <img src="/images/Real_Estate_(101).jpg" alt="" class="img">
        </div>
        <div class="images img2">
          <img src="/images/—Pngtree—vector house icon_4013530.png" alt="" class="img">
        </div>
        <div class="images img3">
          <img src="/images/Real_Estate_(101).jpg" alt="" class="img">
        </div>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
